<h1>Inventories</h1>
<div class="flex-container content-space-between align-items-end">
  <%= link_to "New inventory", new_inventory_path, class: "btn new-color" %>
  <%= render 'layouts/filter',
             path: inventories_path,
             inventory_statuses_filter: true,
             location_filter: true,
             brands: @brands,
             inventory_statuses: Inventory.distinct.pluck(:status),
             locations: @locations %>
</div>
<%= render 'inventories_table' %>
<%= render 'layouts/pagination', page: @page, total_pages: @total_pages,
           per_page: @per_page, total_items: @total_items %>
