<% cache @pricings do %>
  <table class="index-table">
    <tr>
      <th>Part number</th>
      <th>Price</th>
      <th>Effective date</th>
    </tr>
    <% @pricings.each do |pricing| %>
      <tr>
        <td>
          <%= pricing.part_number  %>
        </td>
        <td>
          <%= pricing.price %>
        </td>
        <td>
          <%= pricing.effective_date %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
