/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Index table */

  .index-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    & td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    & tr:nth-child(even) {
      background-color: #dddddd;
      }
  }

  /* Top navigation */

  .topnav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #333;

    div {
      display: flex;
    }
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }

  .topnav form {
    display: inline;

    input, select {
      margin-top: 12px;
    }
  }

  /* New repair inputs and login page */
  .form-wrapper {
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

    input[type=text], input[type=email], input[type=tel], input[type=password], textarea, select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
  }

  
  

