/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.repair-header {
  display: flex;
  justify-content: space-between;
}

/* Index table */

.index-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  & td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  & tr:nth-child(even) {
    background-color: #dddddd;
  }
}

.table-actions {
  display: flex;
}

.btn {
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* Specific styles for edit and delete buttons */
.edit-color {
  background-color: orange;
}

.delete-color {
  background-color: red;
}

.new-color {
  background-color: #45a049;
}

/* Top navigation */

.topnav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;

  div {
    display: flex;
  }
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav form {
  display: inline;

  input,
  select {
    margin-top: 12px;
  }
}

/* New repair inputs and login page */
.form-wrapper {
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=password],
  textarea,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
}

/* Show repair information  */
.info-wrapper {
  display: flex;
}

.info-module {
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=password],
  textarea,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
}

.info-module:nth-child(even) {
  background-color: #dddddd;
}

/* TAT module */
.tat-module {
  margin: 0.67em;
}

.tat-wrapper {
  width: 200px;
  display: flex;
  position: relative;

  .tat-box {
    width: 25%;
    height: 37px;
  }
}

.tat-green {
  background-color: green;
}

.tat-yellow {
  background-color: yellow;
}

.tat-orange {
  background-color: orange;
}

.tat-red {
  background-color: red;
}

.tat-pointer {
  width: 5px;
  height: 50px;
  background-color: black;
  position: absolute;
  top: -5px;
  border-radius: 20%;
}

.pointer-green {
  left: 35px;
}

.pointer-yellow {
  left: 85px;
}

.pointer-orange {
  left: 140px;
}

.pointer-red {
  left: 190px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-pointer {
  width: 100%;
  height: 100%;
}

/* User settings navbar */

.user-nav {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.user-nav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.user-nav a.active {
  background-color: #04AA6D;
  color: white;
}

.user-nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* User content block */
.user-content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

/* Notification banners */
.flash-banner {
  padding: 20px;
  color: white;
  text-align: center;
}

.alert {
  background-color: orange;
}

.success {
  background-color: #04AA6D;
}
