<div data-controller="toggle" data-toggle-hidden-class="hidden">
  <div class="add-parts-button flex-container content-right">
    <button type="button"
              class="btn new-color"
              data-action="click->toggle#toggle">
      Add Parts
    </button>
  </div>
  <div class="modal hidden"
       data-toggle-target="toggleable">
    <%= form_with url: add_repair_item_repair_path(@repair),
        method: :post,
        data: {
            turbo_stream: true,
            action: "turbo:submit-end->toggle#toggle"
        } do |form| %>
      <div class="field">
        <h2>Parts list</h2>
        <span class="close-btn" data-action="click->toggle#toggle"><i class="fa fa-close"></i></span>
        <%= turbo_frame_tag "inventory_select",
                            src: load_inventory_repair_path(@repair),
                            loading: "lazy" do %>
          <p>Loading inventory...</p>
        <% end %>
        <div class="actions">
          <%= form.submit "Add Part", class: "btn new-color" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
