<table class="index-table">
  <tr>
    <th>Part nr.</th>
    <th>Qty</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>
      <%= 'SAMS25LCD'  %>
    </td>
    <td>
      <%= 1 %>
    </td>
    <td>
      <%= 'Samsung S25 display' %>
    </td>
    <td>
      <%= 120 %>
    </td>
  </tr>
</table>