<div class="status-module">
  <%= form_with(model: @repair, url: add_status_repair_path(@repair), method: :post) do |f| %>
    <div class="form-row">
      <div class="field">
        <%= f.collection_select :status_id, Status.active, :id, :name, include_blank: "Select Status" %>
      </div>
      <div class="field">
        <%= f.text_area :status_notes, placeholder: "Input note (optional)." %>
      </div>
      <%= f.submit "Update Status", class: "btn status-color", data: { disable_with: "Updating..." } %>
    </div>
  <% end %>
</div>
</div>
