<div class="flex-container content-space-between align-items-center">
  <h1>All open repairs</h1>
  <%= render 'layouts/filter',
             path: repairs_path,
             device_types_filter: true,
             tat_statuses_filter: true,
             repair_statuses_filter: true,
             brands: @brands,
             device_types: @device_types,
             tat_statuses: RepairsHelper::TAT_STATUSES,
             repair_statuses: Status.active %>
</div>
<%= render 'backlog' %>
<%= render 'layouts/pagination', page: @page, total_pages: @total_pages,
           per_page: @per_page, total_items: @total_items %>
